// Import cinzel as we only use one
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

$fonts: (
  'Light': (weight: $font-weight-light, style: normal),
  'Regular': (weight: $font-weight-regular, style: normal),
  'Bold': (weight: $font-weight-semibold, style: normal)
);

@each $name, $properties in $fonts {
  @font-face {
    font-family: 'Alegreya Sans';
    src: url('@/assets/fonts/alegreya/AlegreyaSans-#{$name}.ttf');
    font-weight: map-get($properties, weight);
    font-style: map-get($properties, style);
    font-display: swap;
  }
}

// Make type normal across browsers
html, body {
  color: $color-neutral-black;
  font-size: ms(0);
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  line-height: $font-lineheight-base;
}

h1 {
  font-size: ms(3);
  line-height: $font-lineheight-base;
  color: $color-primary;
}

h2 {
  font-size: ms(2);
  line-height: $font-lineheight-long;
  color: $color-primary;
}

h3 {
  font-size: ms(1);
  line-height: $font-lineheight-long;
  color: $color-primary;
}
