// Displaying
.hidden-mobile {
  @media (max-width: ($md-breakpoint - 1)) {
    display: none !important;
  }
}

.hidden-tablet {
  @media (min-width: $md-breakpoint) and (max-width: ($lg-breakpoint - 1)) {
    display: none !important;
  }
}

.hidden-desktop {
  @media (min-width: $lg-breakpoint) {
    display: none !important;
  }
}

.hidden-large-desktop {
  @media (min-width: $xl-breakpoint) {
    display: none !important;
  }
}

.mobile-only {
  @include breakpoint(lg) {
    display: none !important;
  }
}

.desktop-only {
  display: none !important;

  @include breakpoint(lg) {
    display: inherit !important;
  }
}
