.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-duration-fast;
}

.move-up-enter-active,
.move-up-leave-active,
.move-down-enter-active,
.move-down-leave-active {
  transition: transform $transition-duration-slow ease-in-out;

  @include breakpoint(lg) {
    transition: none;
  }
}

.move-up-enter-from,
.move-up-leave-to {
  transform: translateY(100vh)
}
